<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
    <section>
        <span>회원가입 페이지</span>
    </section>
    <form th:action method="POST">
        <label for="memberName">아이디</label>
        <input type="text" id="memberName" placeholder="아이디를 입력하세요." name="name">
        <label for="memberPsw">비밀번호</label>
        <input type="password" id="memberPsw" placeholder="비밀번호를 입력하세요." name="password">
        <div>
            <button type="submit">SignIn</button>
            <button type="button" onclick="goBack(); return false;">뒤로가기</button>
        </div>
    </form>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>