<html layout:decorate="~{global/layout}">

<head>
    <title>로그인</title>
</head>

<body layout:fragment="content">
    <div class="container full-height mh-100 d-flex justify-content-center align-items-center">
        <form th:action method="post"
            class="border rounded p-5 d-flex flex-column justify-content-around align-items-center shadow bg-body-tertiary"
            style="width: 350px; height: 500px;">
            <p class="fs-2 fw-medium">로그인</p>
            <div class="mb-5">
                <label class="form-label" for="memberName">아이디</label>
                <input class="form-control" type="text" id="memberName" name="name" placeholder="아이디를 입력해주세요.">
            </div>
            <div class="mb-5">
                <label class="form-label" for="memberPsw">비밀번호</label>
                <input class="form-control" type="password" id="memberPsw" name="password" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">로그인</button>
                <button class="btn btn-secondary" type="button" onclick="goBack(); return false;">뒤로가기</button>
            </div>
        </form>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>