body{
    background-image: url('/images/main_background.png');
    background-size: cover;
    background-position : center;
    background-repeat: no-repeat;
}

.full-height{
    height: calc(100vh - 3.5rem);
}
