<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main style="display: flex;">
        <section style="border : 1px solid; padding: 5px; max-width: 20%">
            <div style="margin-left: 5px; margin-bottom: 10px;">
                <button id="pencil">pencil</button>
                <button id="eraser">eraser</button>
                <button id="clearBt">clear</button>
            </div>
            <section style="margin: 5px">
                <div>pencil options</div>
                <p>
                    <label for="colorPick">color : </label>
                    <input type="color" value="#000000" id="colorPick">
                </p>
                <p>
                    <label for="widthPick">width : </label>
                    <input style="width: 5em;" type="number" value="5" id="widthPick">
                </p>
                <p>
                    <button id="pencilDefault">기본 연필</button>
                </p>
            </section>
        </section>
        <canvas id="canvas" style="margin-left: 10px; border : solid" width="300" height="300"></canvas>
    </main>
    <article>
        <canvas id="receive" style="margin-left: 10px; border : solid" width="300" height="300"></canvas>
    </article>


    <script src="https://cdn.jsdelivr.net/npm/fabric@6.4.3/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script>
        // const socket = new SockJS('http://localhost:8080/dr');
        // const stompClient = Stomp.over(socket);


        // stompClient.connect({}, function (frame) {
        //     console.log("Connected: " + frame)
        //     stompClient.subscribe(`/topic/drawing1`, function (data) {
        //         let jsonData = JSON.parse(data.body)
        //         console.log(`${jsonData.sender} : ${jsonData.msg}`)

        //     })
        // });


        (function () {
            var $ = function (id) { return document.getElementById(id); }

            var eraser = $("eraser"),
                pencil = $('pencil'),
                pencilColor = $('colorPick'),
                pencilWidth = $('widthPick'),
                clear = $('clearBt');


            const canvas = new fabric.Canvas('canvas', {
                isDrawingMode: true
            });

            const canvas2 = new fabric.Canvas('receive');

            if (!canvas.freeDrawingBrush) {
                canvas.freeDrawingBrush = new fabric['PencilBrush'](canvas);
                canvas.freeDrawingBrush.color = pencilColor.value;
                canvas.freeDrawingBrush.width = pencilWidth.value;
            }

            // 그림이 그려질 때마다 데이터 생성
            canvas.on("object:added", function (o) {

                // 그림 데이터 json으로 생성
                // var jsonData = JSON.stringify(canvas);
                // console.log("JSON : " + jsonData)

                // 생성된 object의 path를 json으로 생성
                const pathData = JSON.stringify(o.target.path);
                if (isUnderDataLimit(pathData)) {
                    // canvas.discardActiveObject();
                    // let sel = new fabric.ActiveSelection([JSON.parse(pathData)], {
                    //     canvas: canvas,
                    // });
                    // sel.removeAll();
                    // let sel = canvas.getActiveObjects()
                    canvas.remove(o.target)
                    alert("조금 더 작게 그려주세요.");
                } else {
                    // 그리기
                    const data = JSON.parse(pathData);
                    fabric.Path.fromObject(data)
                    .then((path) => {
                        console.log(path)
                        canvas2.add(path)
                    })
                    // stomp테스트 종료
                    // canvas2.loadFromJSON(pathData)
                    // stompClient.send(`/app/drawing1`,{},JSON.stringify({msg:jsonData}))
                }

            })

            function isUnderDataLimit(str) {
                const encoder = new TextEncoder();
                const length = encoder.encode(str).length;
                console.log("length < 64 * 1024???", length < 15 * 1024, "length : ", length)
                return length < 15 * 1024;
            }

            // 새로운 캔버스에 옮겨지면 재렌더링
            canvas2.on('object:added', function () {
                var objs = canvas2.getObjects();
                for (var i = 0, len = objs.length; i < len; i++) {
                    objs[i].selectable = false;
                }
                canvas2.renderAll();
            })

            pencilColor.onchange = function () {
                canvas.freeDrawingBrush.color = this.value;
                canvas.freeDrawingBrush.width = pencilWidth.value;
            }

            pencilWidth.onchange = function () {
                canvas.freeDrawingBrush.color = pencilColor.value;
                canvas.freeDrawingBrush.width = this.value;
            }

            $('pencilDefault').onclick = function () {
                canvas.freeDrawingBrush.color = '#000000';
                canvas.freeDrawingBrush.width = 5;
            }

            eraser.onclick = function () {
                canvas.freeDrawingBrush.color = '#ffffff';
                canvas.freeDrawingBrush.width = 20;
            }

            pencil.onclick = function () {
                canvas.freeDrawingBrush.color = pencilColor.value;
                canvas.freeDrawingBrush.width = pencilWidth.value;
            }

            clear.onclick = function () {
                canvas.clear();

                //임시
                console.log("클리어")
                canvas2.clear();
            }

        })();

    </script>

</body>

</html>