<!DOCTYPE html>
<html lang="ko" layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameRoom</title>
    <script src="https://cdn.jsdelivr.net/npm/fabric@6.4.3/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <!--stompJS 버전을 변경함-->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
    <script th:src="@{/js/QueueList.js}"></script>
</head>

<body layout:fragment="content">
    <!--정답 안내-->
    <article class="z-2 position-fixed top-50 start-50 translate-middle text-danger bg-white" id="answer1"
        style="display: none;">
        <div id="answer2" style=" font-weight: 800; font-size: xx-large;">
        </div>
        <div id="answer3" style=" font-weight: 800; font-size: xx-large;">
        </div>
    </article>
    <!--로딩 스피너-->
    <article id="loading" class="position-fixed top-50 start-50 translate-middle text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </article>
    <!--Main-->
    <main class="container full-height" id="main">
        <div class="row full-height">
            <div class="col-lg-7 h-100 d-flex flex-column justify-content-center">
                <div class="row mt-5">
                    <h2 class="fw-bold text-center mt-2 text-decoration-underline" id="questionSet">
                        <span>문제 : </span><span id="question"></span>
                    </h2>
                </div>
                <div class="row flex-grow-1 justify-content-center align-items-center position-relative">
                    <!-- 그리는 사람 제외 비활성화 필요 -->
                    <section class="z-2 position-absolute top-0 start-0 w-25
                     border rounded p-1 bg-white opacity-75" id="tools">
                        <div class="d-flex flex-column justify-content-around">
                            <button class="btn btn-outline-info" id="pencil">pencil</button>
                            <button class="btn btn-outline-info" id="eraser">eraser</button>
                            <button class="btn btn-outline-info" id="clearBt">clear</button>
                            <button class="btn btn-outline-primary" id="pencilDefault">기본 연필</button>
                        </div>
                        <div class="d-flex flex-column justify-content-around mt-1">
                            <h5 class="text-center">pencil options</h5>
                            <p class="d-flex align-items-center">
                                <label class="form-label" for="colorPick">color : </label>
                                <input class="form-control form-control-color ml-1" type="color" value="#000000"
                                    id="colorPick">
                            </p>
                            <p class="d-flex align-items-center">
                                <label class="form-label" for="widthPick">width : </label>
                                <input class="form-control ml-1" style="width: 5em;" type="number" value="5"
                                    id="widthPick">
                            </p>
                        </div>
                    </section>
                    <!--캔버스-->
                    <div id="canvasBg" class="col w-100 h-100 p-0 bg-light border border-dark"
                        style="min-width: 300px; min-height: 300px; max-width: 600px; max-height: 600px;">
                        <canvas class="w-100 h-100 z-1" id="canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 h-100 d-flex flex-column">
                <section class="row">
                    <div class="col pt-5">
                        <ul class="list-group" id="playerList">
                            <li class="list-group-item" th:each="mem, info :${roomDto.curMember}">
                                <span class="badge text-bg-primary rounded-pill"
                                th:id="|${mem.username}_score|"></span><span class="mx-2"
                                th:text="${mem.username}"></span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="row flex-grow-1">
                    <div class="col py-5">
                        <section class="w-100 h-100 bg-light border rounded p-2 d-flex flex-column" style="max-height: 600px;">
                            <h4 class="text-decoration-underline my-2">
                                채팅창
                            </h4>
                            <div id="msgBox" class="p-2 border border-dark rounded overflow-y-scroll flex-grow-1">
                            </div>
                            <form class="d-flex my-2" th:action method="POST" id="msgForm">
                                <input class="form-control-lg flex-grow-1 me-2" id="send" name="send" type="text"> <button
                                class="btn btn-primary" type="submit">보내기</button>
                            </form>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        const username = /*[[${@rq.getUsername()}]]*/ 'noUser';
        const roomInfo = /*[[${ roomDto }]]*/ { id: null };
        const roomId = roomInfo.id;

        // 로딩 구현
        document.addEventListener("DOMContentLoaded", function () {
            const loadingSection = document.getElementById("loading")
            const mainSection = document.getElementById("main")

            //초기화
            loadingSection.style.display = "block";
            mainSection.style.display = "none"
            enterGame()

            var interval = setInterval(checkLoadingComplete, 1000)

            async function isLoading() {
                const url = "http://localhost:8080/api/game/isLoading?roomId=" + roomId;
                const response = await fetch(url);

                if (!response.ok) {
                    return false;
                }

                const data = await response.json();
                console.log(data);
                return data;
            }

            async function enterGame() {
                const url = "http://localhost:8080/api/game/enterGame";
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        roomId: roomId,
                        username: username,
                    })
                });
            }

            async function checkLoadingComplete() {
                const isLoaded = await isLoading();
                if (isLoaded) {
                    loadingSection.style.display = "none";
                    mainSection.style.display = "block"

                    setAnswerList();
                    clearInterval(interval) //반복 중단
                } else {
                    console.log("loading....")
                }
            }

            async function setAnswerList() {
                let data = roomInfo.answers;
                for (let i = 0; i < data.length; i++) {
                    answers.enqueue(data[i])
                }
                console.log(answers);
                setQuestion(answers.first().answer)
                if (isOwner(username)) {
                    countUpAnswer(answers.first().answerId, "QUESTION")
                }
            }
        })

        // 정답 큐 생성
        const answers = new window.QueueList();
        // 문제는 방장만 보이도록 세팅
        if (!isOwner(username)) {
            let questionSet = document.getElementById("questionSet");
            questionSet.style.display = "none"
        }

        // 캔버스 초기화
        const canvasBg = document.getElementById("canvasBg")
        const canvas = new fabric.Canvas('canvas', {
            height: canvasBg.offsetHeight,
            width: canvasBg.offsetWidth
        })
        // 방장 여부에 따른 캔버스 구분
        if (isOwner(username)) {
            canvas.isDrawingMode = true;
        }
        console.log(canvas);

        SockJS.prototype.debug = true;
        // websocket 및 stomp 연결부분
        const socket_dr = new SockJS('http://localhost:8080/dr', {}, {});

        // stompJs 버전 변경
        // const stompClient_dr = Stomp.over(socket_dr);

        // stompJs 버전 변경 후
        const stompClient_dr = new StompJs.Client({
            webSocketFactory: () => socket_dr,
            debug: function (str) {
                console.log(str);
            }
        });

        // stompClient onConnect 변경 - StompJs버전 변경 후
        stompClient_dr.onConnect = function (frame) {
            // console.log("Connected: " + frame) debug 옵션을 사용하며 불필요해짐
            if (!isOwner(username)) {
                stompClient_dr.subscribe(`/topic/drawing${roomId}`, function (data) {
                    let jsonData = JSON.parse(data.body)

                    // 클리어 메소드 동기화
                    if (typeof jsonData.msg === 'string' & jsonData.msg.includes("method")) {
                        let methodName = jsonData.msg.split(":")[1];
                        if (methodName === "clear") {
                            canvas.clear()
                        }
                    } else {
                        console.log(`${jsonData.sender} : ${jsonData.msg}`)
                        const data = JSON.parse(jsonData.msg);
                        fabric.Path.fromObject(data)
                            .then((path) => {
                                console.log(path)
                                canvas.add(path)
                            })
                        // canvas.loadFromJSON(jsonData.msg).then((canvas) => canvas.requstRenderAll())
                    }
                })
            }
        }

        console.log(stompClient_dr);

        // stompJS 버전 변경으로 삭제
        // stompClient_dr.debug = (msg) => {
        //     console.log('[STOMP dr_client Debug]:', msg)
        // }

        const socket_msg = new SockJS('http://localhost:8080/ws?roomId=' + `${roomId}`);
        const stompClient_msg = new StompJs.Client({
            webSocketFactory: () => socket_msg,
            debug: function (str) {
                console.log(str);
            }
        }) // connectHeaders에 직접 로그인 정보를 입력할 수 있음. 차후 검토.

        // stompClient onConnect 변경 - StompJs버전 변경 후
        stompClient_msg.onConnect = function (frame) {
            // console.log("Connected: " + frame) debug 옵션을 사용하면서 불필요해짐
            stompClient_msg.subscribe(`/topic/room${roomId}`, function (data) {
                let jsonData = JSON.parse(data.body)

                if (jsonData.sender === "break") {
                    // 방장이 나갔다는 메세지 출력
                    alert(jsonData.msg);
                    // alert가 종료되면 자동으로 리디렉션
                    window.location.href = "http://localhost:8080/roby/list";
                }

                if (!isOwner(jsonData.sender)) {
                    if (jsonData.msg.includes(answers.first().answer)) {
                        showAnswer(jsonData.sender, answers.dequeue());
                        if (answers.size() !== 0) {
                            setQuestion(answers.first().answer)
                        } else {
                            setQuestion("")
                            let winnerUsername;
                            let maxScore = -1;
                            for (let i = 0; i < roomInfo.curMember.length; i++) {
                                let score = scoreMap.get(roomInfo.curMember[i].username)
                                if (score > maxScore) {
                                    winnerUsername = roomInfo.curMember[i].username;
                                    maxScore = score;
                                }
                            }
                            alert(`
                            문제를 모두 풀었습니다.
                            가장 높은 점수는 ${maxScore}로 ${winnerUsername}가 1등입니다.
                            로비로 이동합니다.
                            `)
                            exitGame().then(response => {
                                if (response) {
                                    console.log("방 나가기 완료")
                                } else {
                                    console.log("방에서 안 나가졌다. 확인해보자.")
                                }
                            });
                            window.location.href = "http://localhost:8080/roby/list";
                        }
                    }
                }

                let msgBox = document.getElementById('msgBox');
                let msgBit = document.createElement("div");
                msgBit.innerHTML = `${jsonData.sender} : ${jsonData.msg}`
                msgBox.appendChild(msgBit);
            })
        }

        //StompJs 버전 변경으로 추가
        stompClient_dr.activate();
        stompClient_msg.activate();

        // 페이지 이동 및 윈도우 닫을 시 disconnect
        window.addEventListener('beforeunload', function (event) {
            stompClient_dr.deactivate();
            stompClient_msg.deactivate();
        })

        // 방장만 그리기 도구가 보이도록
        document.addEventListener('DOMContentLoaded', function () {
            const tools = document.getElementById('tools');
            if (isOwner(username)) {
                tools.style.display = 'block';
            } else {
                tools.style.display = 'none';
            }
        });

        // 캔버스 기능 시작
        var $ = function (id) { return document.getElementById(id); }

        var eraser = $("eraser"),
            pencil = $('pencil'),
            pencilColor = $('colorPick'),
            pencilWidth = $('widthPick'),
            clear = $('clearBt');


        // 방장 여부에 따른 캔버스 기능 구분
        if (isOwner(username)) {
            canvas.freeDrawingBrush = new fabric['PencilBrush'](canvas);
            canvas.freeDrawingBrush.color = pencilColor.value;
            canvas.freeDrawingBrush.width = parseInt(pencilWidth.value, 10) || 1;

            // 그림이 그려질 때마다 데이터 생성 - 그림이 일정이상 그려지면 데이터의 크기가 Stomp에서 제한하는 크기 이상이 되어 연결이 끊김
            canvas.on("path:created", function (o) {
                console.log(o.path)

                // path를 데이터로 생성
                const pathData = JSON.stringify(o.path);
                console.log("path:created :: ", pathData);
                if (isUnderDataLimit(pathData)) {
                    // 그리기 공유, StompJs 버전 변경으로 수정
                    stompClient_dr.publish({
                        destination: `/app/drawing${roomId}`,
                        body: JSON.stringify({ msg: pathData })
                    })
                } else {
                    canvas.discardActiveObject();
                    let sel = new fabric.ActiveSelection([JSON.parse(pathData)], {
                        canvas: canvas,
                    });
                    sel.removeAll();
                    alert("조금 더 작게 그려주세요.");
                }

                // 그림 데이터 json으로 생성
                // var jsonData = JSON.stringify(canvas);
                // console.log("JSON : " + jsonData)

            })


            pencilColor.onchange = function () {
                canvas.freeDrawingBrush.color = this.value;
                canvas.freeDrawingBrush.width = pencilWidth.value;
            }

            pencilWidth.onchange = function () {
                canvas.freeDrawingBrush.color = pencilColor.value;
                canvas.freeDrawingBrush.width = parseInt(this.value, 10) || 1;
            }

            $('pencilDefault').onclick = function () {
                canvas.freeDrawingBrush.color = '#000000';
                canvas.freeDrawingBrush.width = 5;
                pencilColor.value = '#000000';
                pencilWidth.value = 5;
            }

            eraser.onclick = function () {
                canvas.freeDrawingBrush.color = '#F8F9FA';
                canvas.freeDrawingBrush.width = 20;
            }

            pencil.onclick = function () {
                canvas.freeDrawingBrush.color = pencilColor.value;
                canvas.freeDrawingBrush.width = pencilWidth.value;
            }

            clear.onclick = function () {
                canvas.clear();

                // 그리기 공유, StompJs 버전 변경으로 수정
                stompClient_dr.publish({
                    destination: `/app/drawing${roomId}`,
                    body: JSON.stringify({ msg: "method:clear" })
                })
            }
        } else {
            // 새로운 캔버스에 옮겨지면 재렌더링
            canvas.on('object:added', function () {
                // 그리는 사람 제외 비활성화 필요
                // var objs = canvas.getObjects();
                // for(var i = 0, len = objs.length; i < len; i++){
                //     objs[i].selectable = false;
                // }
                canvas.renderAll();
            })
        }
        // 캔버스 기능 끝

        document.addEventListener("DOMContentLoaded", function () {
            const sendBt = document.getElementById("msgForm");
            sendBt.addEventListener("submit", function (event) {
                postMsg(event);
            })
        })

        // 방장과 참여자를 구분하기 위한 메소드. 캔버스를 나누어 구현할 필요가 있음.
        function isOwner(_username) {
            if (_username === roomInfo.owner.username) {
                return true;
            }
            return false;
        }

        function postMsg(event) {
            event.preventDefault();
            let sendMsg = document.getElementById('send');
            let msg = sendMsg.value.trim();
            // StompJs 버전 변경으로 수정
            stompClient_msg.publish({
                destination: `/app/room${roomId}`,
                body: JSON.stringify({ msg: msg })
            })
            console.log(msg);
            sendMsg.value = "";
        }

        function showAnswer(_username, _answer) {
            if (isOwner(username)) {
                countUpAnswer(_answer.answerId, "CORRECT")
            }

            const answerTxt = document.getElementById("answer1");
            const answerBit1 = document.getElementById("answer2");
            const answerBit2 = document.getElementById("answer3");

            answerBit1.innerHTML = `${_username} 정답!`
            answerBit2.innerHTML = `${_answer.answer}`

            scoreMap.set(_username, scoreMap.get(_username) + 1);
            const scoreLabel = document.getElementById(`${_username}_score`)
            scoreLabel.innerHTML = scoreMap.get(_username);

            answerTxt.style.display = "block";

            setTimeout(function () {
                answerTxt.style.display = "none";
                answerBit1.innerHTML = "";
                answerBit2.innerHTML = "";
                clear.click();
            }, 3000);
        }

        async function countUpAnswer(id, type) {
            const url = "http://localhost:8080/api/game/countUp";
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    answerId: id,
                    type: type,
                })
            })
        }

        //점수판 초기화
        const scoreMap = new Map();
        for (const member of roomInfo.curMember) {
            if (!isOwner(member.username)) {
                scoreMap.set(member.username, 0)
            } else {
                scoreMap.set(member.username, "Owner")
            }
        }
        initScore();


        function initScore() {
            for (const [username, score] of scoreMap) {
                let scoreLabel = document.getElementById(`${username}_score`)
                scoreLabel.innerHTML = scoreMap.get(username);
            }
        }

        function isUnderDataLimit(str) {
            const encoder = new TextEncoder();
            const length = encoder.encode(str).length;
            console.log("length < 64 * 1024???", length < 15 * 1024, "length : ", length)
            return length < 15 * 1024;
        }

        function setQuestion(question) {
            const questionTag = document.getElementById("question");
            questionTag.innerHTML = question;
        }

        async function exitGame() {
            const url = "http://localhost:8080/api/game/exitGame";
            const response = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    roomId: roomId,
                    username: username,
                })
            });
            return response;
        }

    </script>
</body>

</html>