<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <!--StompJs 버전 변경-->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
</head>

<body layout:fragment="content">
    <article>
        <div>방이름 : <span th:text="${roomDto.roomName}"></span></div>
        <div>인원 수(현재/최대) : <span id="curParticipants"></span>/<span th:text="${roomDto.numOfParticipants}"></span></div>
    </article>
    <hr>
    <section id="msgBox">
        <div>
            채팅창
        </div>
        <hr>
    </section>
    <hr>
    <form th:action method="POST" onsubmit="postMsg(event); return false">
        <input id="send" name="send" type="text"> <button type="submit">보내기</button>
    </form>
    <section>
        <button th:if="${@rq.getUsername() == roomDto.owner.username}" onclick="startGame()">게임시작</button><span>
        </span><button onclick="exit()">나가기</button>
    </section>

    <script th:inline="javascript">
        const user = /*[[${@rq.getUsername()}]]*/ 'noUser';
        let state = /*[[${ roomDto.status }]]*/ null;
        console.log(user)
        const roomId = /*[[${ roomDto.id }]]*/ null;
        let curParticipants = /*[[${ roomDto.numOfCurParticipants }]]*/ 0;

        if(state === "PLAYING"){
            window.location.href = `http://localhost:8080/roby/game/${roomId}`;
        }

        const socket = new SockJS('http://localhost:8080/ws?roomId=' + `${roomId}`);
        // const stompClient = Stomp.over(socket);
        const stompClient = new StompJs.Client({
            webSocketFactory: () => socket,
            debug: function (str){
                console.log(str);
            }
        });

        stompClient.onConnect = function (frame) {
            console.log("Connected: " + frame)
            stompClient.subscribe(`/topic/room${roomId}`, function (data) {
                // message data
                let jsonData = JSON.parse(data.body)

                if (jsonData.sender === "break") {
                    // 방장이 나갔다는 메세지 출력
                    alert(jsonData.msg);
                    // alert가 종료되면 자동으로 리디렉션
                    window.location.href = "http://localhost:8080/roby/list";
                }

                // 게임 시작 트리거
                if (jsonData.sender === "start") {
                    var newUrl = jsonData.msg;
                    window.location.href = newUrl;
                } else {
                    if (jsonData.sender === "system" && jsonData.msg.includes("참가")) {
                        plusMember();
                    }

                    if (jsonData.sender === "system" && jsonData.msg.includes("퇴장")) {
                        minusMember();
                    }

                    let msgBox = document.getElementById('msgBox');
                    let msgBit = document.createElement("div");
                    msgBit.innerHTML = `${jsonData.sender} : ${jsonData.msg}`
                    msgBox.appendChild(msgBit);
                }
            })
        }

        // StompJs 버전 변경으로 추가
        stompClient.activate();

        window.addEventListener('beforeunload', function (event) {
            stompClient.deactivate();
        })

        function plusMember() {
            curParticipants = curParticipants;
            document.getElementById('curParticipants').innerText = curParticipants;
        }

        function minusMember() {
            curParticipants = curParticipants - 1;
            document.getElementById('curParticipants').innerText = curParticipants;
        }
        plusMember();

        async function changeStatus() {
            const url = "http://localhost:8080/api/game/changeStatus";
            const response = await fetch(url,
                {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        id: roomId,
                        status: "LOADING"
                    })
                }
            );
            if (!response.ok) {
                exit();
            }
        }

        function startGame() {
            changeStatus();
            startCountDown(5);
        }

        function startCountDown(seconds) {
            var interval = setInterval(function () {
                if (seconds > 0) {
                    stompClient.publish({
                        destination: `/app/room${roomId}`,
                        body: JSON.stringify({ msg: `${seconds} 후 게임이 시작합니다.` })
                    })
                    seconds--;
                } else {
                    clearInterval(interval)
                    stompClient.publish({
                        destination: `/app/room${roomId}`,
                        body: JSON.stringify({ msg: "Event:/startGame" }),
                    })
                }
            }, 1000);
        }

        function postMsg(event) {
            event.preventDefault();
            let sendMsg = document.getElementById('send');
            let msg = sendMsg.value.trim();
            stompClient.publish({
                destination: `/app/room${roomId}`,
                body: JSON.stringify({ msg: msg }),
            })
            console.log(msg);
            sendMsg.value = "";
        }

        function exit() {
            event.preventDefault();
            window.location.href = "http://localhost:8080/roby/list";
        }
    </script>
</body>

</html>