<html layout:decorate="~{global/layout}">

<body layout:fragment="content">


    <main>
        <section>
            <article>
                방 리스트
                <div>
                    <a th:href="@{/roby/create}">방만들기</a>
                    <button onclick="location.reload();"> 목록 새로고침</button>
                </div>
            </article>
        </section>
        <section>
            <ul id="roomList">
                <!-- <li>
                    <div >
                        <div>
                            <span>방이름 : </span><span id="roomName"></span>
                        </div>
                        <hr>
                        <div>
                            <span>현재 참여자 : </span><span></span>
                            <span> </span>
                            <span>최대 참여자 : </span><span ></span>
                        </div>
                    </div>
                    <a th:href="@{/roby/room}">참여하기</a>
                </li> -->
            </ul>
        </section>
    </main>
    <script>
        
        getRoomList()
        refreshPage(5)

        function refreshPage(intervalInSeconds) {
            // 주기적으로 페이지를 새로고침
            setInterval(function () {
                getRoomList()
            }, intervalInSeconds * 1000);
        }

        async function getRoomList(){
            const url ="http://localhost:8080/api/game/list"
            let response = await fetch(url)
            
            console.log(response)

            if(!response.ok){
                throw new Error("Network response was not ok")
            }
            
            try{
                //json 데이터로 변환
                const data = await response.json();
                console.log(data)
    
                const contents = data.content; //array
    
                const listTag = document.getElementById("roomList");
                listTag.innerHTML = "";
    
                // 페이지에 추가
                for(let i = 0; i < contents.length; i++){
                    let content = contents[i];
                    let li = document.createElement("li");
                    let article = document.createElement("article")
                    
                    let roomNameTag = document.createElement("div")
                    roomNameTag.innerHTML = `방이름 : ${content.roomName}`
                    article.appendChild(roomNameTag);
    
                    let participantsTag = document.createElement("div")
                    participantsTag.innerHTML = `현재 참여자 : ${content.numOfCurParticipants} / 최대 참여자 : ${content.numOfParticipants}`
                    article.appendChild(participantsTag);
    
                    let aTag = document.createElement("a")
                    aTag.innerHTML = "참여하기"
                    aTag.href = `/roby/room/${content.id}`;
                    article.appendChild(aTag);
    
                    li.appendChild(article);
                    listTag.appendChild(li)
                }
            }catch{

            }
        }
    </script>
</body>

</html>