<html layout:decorate="~{global/layout}">

<body layout:fragment="content">


    <main>
        <section>
            <article>
                방 리스트
                <div>
                    <a th:href="@{/roby/create}">방만들기</a>
                    <button onclick="location.reload();"> 목록 새로고침</button>
                </div>
            </article>
        </section>
        <section>
            <ul>
                <li th:each="item : ${roomList.content}">
                    <div>
                        <div>
                            <span>방이름 : </span><span th:text="${item.roomName}"></span>
                        </div>
                        <hr>
                        <div>
                            <span>현재 참여자 : </span><span th:text="${item.numOfCurParticipants}"></span>
                            <span> </span>
                            <span>최대 참여자 : </span><span th:text="${item.numOfParticipants}"></span>
                        </div>
                    </div>
                    <a th:href="@{/roby/room/{id}(id=${item.id})}">참여하기</a>
                </li>
            </ul>
        </section>
    </main>
    <script>
        function refreshPage(intervalInSeconds) {
            // 주기적으로 페이지를 새로고침
            setInterval(function () {
                location.reload();
            }, intervalInSeconds * 1000);
        }

        refreshPage(5)
    </script>
</body>

</html>